.wrapper {
    height: 100vh;
    display: grid;

    grid-template-areas: "stack";
}
.wrapper > * {
    grid-area: stack;
}
video {
    filter: contrast(1.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    pointer-events: none;
    object-fit: cover;
}

.side-bar {
    display: none;
    position: sticky;
    width: 200px;
    height: fit-content;
    top: 50%;
}
.side-bar > ul {
    margin: 20px;
}
.side-bar ul > li {
    margin: 20px;
}

/* Active CSS */

.subject-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
    margin: 50px auto;
    
    width: 100%; 
    /* height: 100%;  */
}
.subject-card > *, 
.subject-card > ul *
{
    margin: 5px 0;
}
.subject-card > ul>li {
    list-style-position: inside;
}